<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="pushapps-mobi" version="1.0.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PushApps - Push Notification Plugin</name>

    <description>PushApps Push Notification Plugin for PhoneGap/Cordova</description>

    <author>PushApps</author>

    <keywords>pushapps,push,notification,pushnotification</keywords>

    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.3.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <js-module src="www/pushapps.js" name="PushApps">
        <clobbers target="PushNotification" />
    </js-module>

    <dependency id="org.apache.cordova.device" url="https://github.com/apache/cordova-plugin-device.git"  />

    <config-file>
        <access origin="*.pushapps.mobi" />
    </config-file>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PushApps">
                <param name="ios-package" value="CDVPushApps" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file>
            <access origin="*.pushapps.mobi" />
        </config-file>

        <header-file src="src/ios/CDVPushApps.h" target-dir="ios"/>
        <source-file src="src/ios/CDVPushApps.m" target-dir="ios"/>

        <header-file src="src/ios/AppDelegate+notification.h" target-dir="ios"/>
        <source-file src="src/ios/AppDelegate+notification.m" target-dir="ios"/>

        <header-file src="src/ios/PATag.h" target-dir="ios"/>
        <header-file src="src/ios/PushApps.h" target-dir="ios"/>
        <source-file src="src/ios/PushApps" framework="true"/>
                     
        <!-- System frameworks -->
        <framework src="Foundation.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="AdSupport.framework" />
    </platform>

    <!-- TODO: -->
    <!-- 1. add nib file -->
    <!-- 2. create ios target automatically -->

</plugin>
